button,
p {
  all: unset;
}

.NavigationMenuRoot {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.NavigationMenuList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6e7e4a;
  padding: 8px 20px;
  width: 100vw;
  box-sizing: border-box;
  border-radius: 6px;
  list-style: none;
  box-shadow: 0 2px 10px var(--black-a7);
  margin: 0;
  gap: 0.5vw;
}

.JoinUsButton {
  background-color: #fce794;
  color: #6e7e4a;
  font-weight: bold;
  padding: 8px 3.5vw;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 20px;
  font-size: 17px;
  font-family: var(--font-league-spartan);
}

.JoinUsButton:hover {
  background-color: #e4ce79;
}

.NavigationMenuTrigger,
.NavigationMenuLink {
  padding: 6px 0.8vw;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 17px;
  color: #fefae1;
  font-family: var(--font-league-spartan);
  white-space: nowrap;
}

.NavigationMenuTrigger:focus,
.NavigationMenuLink:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.NavigationMenuTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.NavigationMenuLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
}

.LogoLink {
  padding: 8px 1vw 8px 2vw;
  margin-right: 1vw;
}

.NavigationMenuContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation-duration: 250ms;
  animation-timing-function: ease;
}

.NavigationMenuContent[data-motion="from-start"] {
  animation-name: enterFromLeft;
}

.NavigationMenuContent[data-motion="from-end"] {
  animation-name: enterFromRight;
}

.NavigationMenuContent[data-motion="to-start"] {
  animation-name: exitToLeft;
}

.NavigationMenuContent[data-motion="to-end"] {
  animation-name: exitToRight;
}

@media only screen and (min-width: 600px) {
  .NavigationMenuContent {
    width: auto;
  }
}

.NavigationMenuIndicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition: width, transform 250ms ease;
}

.NavigationMenuIndicator[data-state="visible"] {
  animation: fadeIn 200ms ease;
}

.NavigationMenuIndicator[data-state="hidden"] {
  animation: fadeOut 200ms ease;
}

.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: var(--radix-navigation-menu-viewport-width);
  height: var(--radix-navigation-menu-viewport-height);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
}

.NavigationMenuViewport[data-state="open"] {
  animation: scaleIn 200ms ease;
}

.NavigationMenuViewport[data-state="closed"] {
  animation: scaleOut 200ms ease;
}

@media only screen and (min-width: 600px) {
  .NavigationMenuViewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}