@media (max-width: 600px) {
  .calendar-container {
    border-radius: 20px;
    border-width: 2.5px;
  }
  .calendar-container-container {
    padding: 8px;
  }
  .calendar-style {
    border-radius: 0;
  }
}
@import "tailwindcss";


.calendar-container {
  border: 5px solid #6E7E4A;  
  border-radius: 60px;   
  
}

.calendar-container-container {
   padding: 30px;         
}

.calendar-style {
  
  border-radius: 60px;   
  padding: 0px;         
}