
@import "tailwindcss";

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/violet.css";

:root {
  --background: #FEFAE1;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* reset */

.List {
	display: grid;
	padding: 22px;
	margin: 0;
	column-gap: 10px;
	list-style: none;
}
@media only screen and (min-width: 600px) {
	.List.one {
		width: 500px;
		grid-template-columns: 0.75fr 1fr;
	}
	.List.two {
		width: 600px;
		grid-auto-flow: column;
		grid-template-rows: repeat(3, 1fr);
	}
}

.ListItemLink {
	display: block;
	outline: none;
	text-decoration: none;
	user-select: none;
	padding: 12px;
	border-radius: 6px;
	font-size: 15px;
	line-height: 1;
}

.ListItemLink:hover {
	background-color: var(--mauve-3);
}

.ListItemHeading {
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 5px;
	color: var(--violet-12);
}

.ListItemText {
	color: var(--mauve-11);
	line-height: 1.4;
	font-weight: initial;
}
