/* reset */
button,
h3 {
  all: unset;
}

.accordion-container {
  background-color: #fefae1;
  align-items: center;
  font-family: "League Spartan", sans-serif;
}

.accordion-title {
  color: #22300d;
  font-size: 75px;
  text-align: center;
}

.AccordionRoot {
  border-radius: 6px;
  width: 1000px;
  background-color: #fefae1;
  gap: 12px;
  border-radius: 25px;
  padding: 20px;
}

.AccordionItem {
  overflow: hidden;
  margin-top: 1px;
  background-color: #fce794;
  color: #22300d;
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 10px;
}

.AccordionItem:first-child {
  margin-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.AccordionItem:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.AccordionItem:focus-within {
  position: relative;
  z-index: 1;
}

.AccordionHeader {
  display: flex;
  background-color: #fce794;
}

.AccordionTrigger {
  font-family: inherit;
  background-color: #fce794;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  background-color: #fce794;
}

.AccordionTrigger:hover {
  background-color: #fce794;
}

.AccordionContent {
  overflow: hidden;
  font-size: 20px;
  background-color: #fce794;
}

.AccordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  padding: 15px 20px;
}

.AccordionChevron {
  color: #9b3c35;
  width: 40px;
  height: 40px;
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

.email-link {
  color: #9b3c35;
  text-decoration: underline;
}

.email-link:hover {
  color: #7a2e28;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}